.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul {
    display: flex;
}

.header-wrapper ul li {
    list-style: none;
    padding: 5px;
}

.header-wrapper ul li a {
    text-decoration: none;
}

.header-wrapper ul li button {
    background-color: transparent;
    border: 0;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

