*:focus {
    outline: none;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul {
    display: flex;
}

.header-wrapper ul li {
    list-style: none;
    padding: 5px;
}

.header-wrapper ul li a {
    text-decoration: none;
}

.header-wrapper ul li button {
    background-color: transparent;
    border: 0;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}


.input-wrapper {
    margin: 10px;
}

.input-field {
    width: 200px;
    height: 30px;
}

.button {
    width: 200px;
    height: 30px;
}

.container {
    text-align: center;
}

.button-link {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 20px;
}

.input-error {
    position: absolute;
    color: red;
    font-size: 16px;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

table td button {
    margin: 5px;
}

.main-page-banner {
    background-image: url('https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?s=612x612&w=0&k=20&c=eaKRSIAoRGHMibSfahMyQS6iFADyVy1pnPdy1O5rZ98=');
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    height: 300px;
    color: white;
    text-align: center;
}

.restaurant-page-banner {
    background-image: url('https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?s=612x612&w=0&k=20&c=eaKRSIAoRGHMibSfahMyQS6iFADyVy1pnPdy1O5rZ98=');
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    height: 300px;
    color: white;
    text-align: center;
}

.input-wrapper {
    padding: 5px;
    /* border: 1px solid black; */
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}

.select-input {
    border: none;
    height: 40px;
    width: 20%;
    padding-left: 0px;
}

.search-input {
    border: none;
    border-left: 1px solid black;
    height: 40px;
    width: 55%;
    padding-left: 20px;
}

.location-list {
    color: black;
    list-style-type: none;
    text-align: left;
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: white;
    border: 1px solid #ccc;
}

.location-list li {
    width: 150px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.restaurant-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.restaurant-card {
    padding: 20px;
    cursor: pointer;
    margin: 20px;
    background-color: #ffab56;
    width: auto;
    border-radius: 8px;
    justify-content: flex-start;
    width: 200px;
}

.restaurant-page-banner h1 {
    font-size: 65px;
}

.detail-wrapper {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    padding: 0px 10px;
}

.food-item-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color: #f2f2f2; */
}

.food-item-wrapper .list-item {
    padding: 20px;
    color: orange;
    font-weight: bold;
    border-bottom: 1px solid orange;
    display: flex;
    text-transform: capitalize;
}
.item-content{
    padding-left: 20px;
}
.item-content button{
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}